/**
 * samdark theme for reveal.js
 */

// Default mixins and settings -----------------
@import "../bower_components/reveal.js/css/theme/template/mixins";
@import "../bower_components/reveal.js/css/theme/template/settings";
// ---------------------------------------------

@import "../fonts/stylesheet.css";

// Override theme settings (see ../template/settings.scss)
$mainFont: 'PT Sans';
$headingFont: 'PT Sans Caption';
$headingTextTransform: none;

$backgroundColor: #fff;

$mainColor: #666;
$headingColor: #333;
$backgroundColor: #fff;
$linkColor: #00008B;
$linkColorHover: lighten( $linkColor, 20% );

.reveal {
    .slide-number {
        background: none;
        color: #ccc;
    }

    .slides {
        table {
           table-layout:fixed;

           th {
               font-weight: bold;
           }
       }

        code {
            font-family: Monaco, consolas, monospace;
        }

        pre.big code {
            font-size: 200%;
        }

        img {
            border: none !important;
            box-shadow: none !important;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            ul {
                list-style: none;
                padding: 0;
                margin: 1em 0 0 0;

                color: #777;
            }
        }

        li {
            padding-left: 1em;
        }

        li:before {
            content: "\2014";
            padding-right:7px;
            color: #aaa;
        }

        pre {
            width: 100%;
        }
    }
}



// Theme template ------------------------------
@import "../bower_components/reveal.js/css/theme/template/theme";
// ---------------------------------------------

@import "monokai-sublime.css";