@import url(../fonts/stylesheet.css);
/**
 * samdark theme for reveal.js.
 */
.reveal table {
  table-layout: fixed;
}
.reveal table th {
  font-weight: bold;
}
.reveal table th, .reveal table td {
  padding: 10px;
}

.reveal code {
  font-family: Monaco, consolas, monospace;
}

.reveal pre.big code {
  font-size: 200%;
}

.reveal section img {
  border: none !important;
  box-shadow: none !important;
}

.reveal ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.reveal ul ul {
  list-style: none;
  padding: 0;
  margin: 1em 0 0 0;
  color: #777;
}
.reveal li {
  padding-left: 1em;
  margin-bottom: .2em;
}
.reveal li:before {
  content: "\2014";
  padding-right: 7px;
  color: #aaa;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: white;
  background-color: white;
}

.reveal {
  font-family: "PT Sans";
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #666666;
}

::selection {
  color: white;
  background: #ff5e99;
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #333333;
  font-family: "PT Sans Caption";
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: darkblue;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -ms-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
}

.reveal a:not(.image):hover {
  color: #0000f1;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #00003f;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #666666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: darkblue;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: darkblue;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: darkblue;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: darkblue;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: darkblue;
}

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #0000f1;
}

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #0000f1;
}

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #0000f1;
}

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #0000f1;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background: darkblue;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
