.reveal {
    font-family: "Bandera Pro Medium";
}

.reveal .slide-background {
    background-position: right center;
    background-image: url(Junior-2.jpg);
    background-size: auto 100%;
}

.reveal .slide-background:first-child {
    background-position: right bottom;
    background-size: 100% auto;
}

.title-slide h1 {
    font-size: 160%;
}

.title-slide h2 {
    font-size: 140%;
}

.title-slide h1, .title-slide h2, .title-slide h3 {
    text-shadow: 4px 4px 10px #fff;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: "Bandera Pro Heavy";
}

.title-slide a {
    background: #fff;
    padding: 8px 16px;
}

/*.title-slide a:not(.image) {
    color: #fff;
}

.title-slide a:not(.image):hover {
    color: #fff;
}

.reveal section.title-slide  img {
    border: 10px solid #fff !important;
}*/

.reveal pre code {
    max-height: 650px;
}

@font-face {
    font-family: 'Bandera Pro';
    src: url("font/BanderaPro.otf") format("opentype");
}

@font-face {
    font-family: 'Bandera Pro';
    font-weight: bold;
    src: url("font/BanderaPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Bandera Pro Heavy';
    src: url("font/BanderaProHeavy.otf") format("opentype");
}

@font-face {
    font-family: 'Bandera Pro Medium';
    src: url("font/BanderaProMedium.otf") format("opentype");
}