.reveal blockquote {
    font-style: normal;
    background: #feffbb;
}

.reveal .slide-number {
    position: absolute;
    top: .7em;
    left: .5em;
    font-size: 130%;
    color: #aaa;
    width: 1em;
    height: 1em;
}

.reveal .slide-background.title-slide {
    background-position: bottom;
}

.reveal section img {
    background: none;
    border-radius: 10%;
}

.title-slide a {
    padding: 0 .5em 1em .5em;
}

.title-slide h1 {
    font-size: 2.77em;

}

.title-slide h2 {
    font-size: 1.11em;
}

.red {
    color: red;
}

.green {
    color: green;
}

.reveal .slides code {
    font-size: 130%;
    line-height: 130%;
    max-height: 100%;
}