body {
	background-position: 50% 100%;
	background-image: url(background_all.png);
	background-size: cover;
	background-repeat: no-repeat;
}

ul.sponsors {
	list-style: none;
	text-align: center;
}

.sponsors li {
	display: inline-block;
	padding: 0 .5em;
}

.sponsors li:before {
	content: "";
}

.sponsors li img {
	width: 80px;
}