.reveal blockquote {
    font-style: normal;
    background: #feffbb;
}

.reveal .slide-number {
    position: absolute;
    top: .7em;
    left: .5em;
    font-size: 200%;
    color: #666;
    width: 1em;
    height: 1em;
}

.reveal .slide-background.title-slide {
    background-position: bottom;
}

.reveal .slides .title-slide {
    margin-top: -100px;
}

.title-slide h1 {
    font-size: 2.77em;
}

.title-slide h2 {
    font-size: 1.11em;
}

.reveal .slide-background {
    background-position: top;
    background-image: url(yiiconf_back_next.png);
    background-size: 100% auto;
}

