.reveal blockquote {
    font-style: normal;
    background: #feffbb;
}

.reveal .slide-number {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 200%;
}

.title-slide h1 {
    font-size: 2.77em;
}

.title-slide h2 {
    font-size: 1.11em;
}

::selection {
    background: #28a6ff;
}

.reveal .slide-background.title-slide {
    background: linear-gradient(to right bottom, #ffffff 65%, #0584ff 35%);
}

.title-slide .author, .title-slide .company {
    display: inline-block;
    color: #fff;
    padding: 10pt;
}

.title-slide .author {
    background: #81bb26;
}

.title-slide .author:hover, .title-slide .company:hover {
    color: #eee;
}

.title-slide .company {
    background: #ff9900;
}

.where {
    color: #000;
}