.reveal blockquote {
    font-style: normal;
    background: #feffbb;
}

.reveal .slide-number {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 200%;
}

.title-slide h1 {
    font-size: 2.77em;
    color: #fff;
}

.title-slide h2 {
    font-size: 1.11em;
    color: #fff;
}

.title-slide a:not(.image) {
    color: #eee;
}

.title-slide a:not(.image):hover {
    color: #bbe7ff;
}
