.reveal blockquote {
    font-style: normal;
    background: #feffbb;
}

.reveal .slide-number {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 200%;
}

.reveal .title-slide h1 {
    font-size: 2.77em;
}

.reveal .title-slide h2 {
    font-size: 1.11em;
}
